

div.detail-picture{
	text-align: center;
}
img.detail-picture{
  float:right;
}
@media screen and (max-width:700px)
{
	img.detail-picture{      
		float: none;
		text-align: center;
	}
}
.languages-flag{
    width: 30px;
}

.artist-container {
    height: 350px;
}

.artist-home {
    position: absolute;
    left: 100%;
    top:0px;
    z-index: -1;
    height: 80%;
    margin-left: -50%;
}
.artist-button{

    position: absolute;
    top: 280px;
    right:25%;
}

.footer-text{
    text-align: center;
}