
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:300" >
    <!-- Indicators -->
    <div class="carousel-inner">
      <div class="item active" style="height:300" >
        <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="https://www.creameryschoolofmusic.com/template/upload_images/Guitar-guitar-10566054-1920-1200.jpg">
        <div class="container">
          <div class="carousel-caption">
            <p>Die Musik ist eine universelle Sprache, die uns Menschen seit jeher begleitet. In ihrer unendlichen Vielfalt regiert sie in allen Winkeln dieses Planeten, wo es Menschen gibt. Lasst uns durch sie miteinander sprechen!</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->

  <div>
    <div class="detail-picture"><img src="img/caras/frontal.small.jpg" class="detail-picture"></div>

      <p>Pablo Esteban Avila ist in Córdoba, Argentinien geboren. Schon früh begann er sich für Musik zu interessieren und dank eines Onkels, der ihm seine 1. Gitarre schenkte, begab er sich auf den Pfad der Kunst. Eine großzügige Nachbarin fortgeschrittenen Alters war die Erste, die ihm einige sehr nützliche Ratschläge schenkte, wie man anfängt, Gitarre zu spielen. Später lernte er, innerhalb der Möglichkeiten, die ihm seine Familie bieten konnte, von verschiedenen Lehrern, bis er mit 15 den Entschluss fasste, in eine Schule mit Schwerpunkt Musik zu wechseln. Dort entdeckte er die unendliche Vielfalt, die Musik bietet, und begann darüber hinaus seine Kenntnisse zu erweitern und seinen Alltag mit den verschiedensten Musikern der unterschiedlichsten Stilrichtungen zu teilen. Dies war ein wichtiger Teil des Fundaments für die Entwicklung als Musiker und Person, die er heute ist. Seine wichtigsten Lehrer in Argentinien waren Titi Rivarola; Leo Sosa, Marcelo Rivero.
</p>
<p> 
Mitte 2003 unternimmt er eine Reise nach Deutschland mit dem Ziel die Zügel für seine Zukunft in die Hand zu nehmen. Als er in München angekommen ist, beginnt das bereichernde Abenteuer, welches der kulturelle Austausch bedeutet. Er erlernt die deutsche Sprache und hat immer sein wichtigstes Ziel vor Augen. Dabei fühlt der die Notwendigkeit zu komponieren und sich die Werkzeuge anzueignen, um seine Ideen umzusetzen. Omar Belmonte (The Latin Groove School Munich) und Luis Borda (bekannter Komponist und Gitarrist) ermutigen ihn, sein kreatives Potenzial zu entdecken und zu nutzen. Zeitgleich zu seinen Auftritten als Solist ist er Teil verschiedener Projekte beispielsweise argentinische Folklore im Duo mit Daniel Contrini, das Power Trio “Tres Naciones” und “Grupo Visiones”. Im Jahr 2011 macht er seinen Abschluss als “staatliche geprüfter Leiter für Popularmusik” an der “Music Academy” in Regensburg, mit dem Schwerpunkt Gitarre.</p>
    </div>
  </div>