
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:300" >
    <!-- Indicators -->
    <div class="carousel-inner">
      <div class="item active" style="height:300" >
        <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="https://www.creameryschoolofmusic.com/template/upload_images/Guitar-guitar-10566054-1920-1200.jpg">
        <div class="container">
          <div class="carousel-caption">
            <p>{{"about.banner.content" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->

  <div>
    <div class="detail-picture" ><img src="img/caras/frontal.small.jpg" class="detail-picture"></div>

      <p ng-repeat="line in ('about.content'|translate)">{{ line }}</p>
    </div>
  </div>