
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:300" >
    <!-- Indicators -->
    <div class="carousel-inner">
      <div class="item active" style="height:300" >
        <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="img/banners/escalera.small.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Recordings</h1>
            <p>Visit my <code>recordings</code> section to pay an ear to my latests.</p>
            <p><a class="btn btn-lg btn-primary" href="#/recordings" role="button">hear some music</a></p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->

  <div>
    <div class="detail-picture"><img src="img/partials/live.small.jpg" class="detail-picture"></div>

      <p>Die Kombination aus einer warmen und manchmal auch schrillen Stimme mit feinsinnigen und virtuosen Gitarrenpassagen repräsentieren seine Soloauftritte. Als E-Gitarrist überzeugt er durch seine leidenschaftliche Ausdrucksweise in Verbindung mit hervorragendem technischen Können. Sowohl als Künstler als auch als Mensch ist er stolz darauf, dass er seinen Ursprung und seine Wurzeln in sich trägt und dass der kulturelle Austausch ihn bereichert hat.  Er ist stets offen für neue Eindrücke. Seit kurzem ist er in Berlin und geht mit viel Energie neue Projekte an und taucht in die große künstlerische Szene ein, die diese wichtige europäische Hauptstadt bietet.</p>
Aktuelle Projekte:
<ul>
<li>MateClub (es begann in München und wird in Berlin fortgesetzt)</li>
<li>The SongLab</li>
<li>Dúo Violín & Guitarra con Juan Roque Alsina.</li>
<li>Postal - “Solo Album”</li>
</ul>

Influencias: 
<ul>
<li>Marcelo Rivero (primer Profe de guitarra)</li>
<li>Titi Rivarola</li>
<li>Carlos Cánovas</li>
<li>Luis Borda</li>
<li>Ricardo Havenstein</li>
<li>Geoff Goodman</li>
<li>Omar Belmonte </li>
</ul>
    </div>
  </div>