
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:300" >
    <!-- Indicators -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="css-image img-banner-contact carousel-image">
        <div class="container">
          <div class="carousel-caption">



              <h1>TheSongLab</h1>
              <h2>Pablo Esteban Avila</h2>
              <p>mail: 
                <a href="mailto:thesonglab@gmail.de">
                    thesonglab@gmail.de
                <a>
              </p>
              <p>
                <a href="tel:+49 30 52664833">
                    +49 30 52664833
                <a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->