


<!-- Carousel
    ================================================== ->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators ->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" class="css-image img-banner-construction">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{"home.banners.banner1.title" | translate}}</h1>
              <p>{{"home.banners.banner1.content" | translate}}</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" class="css-image img-banner-escalera">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{"home.banners.banner2.title" | translate}}</h1>
              <p>{{"home.banners.banner2.content" | translate}}</p>
              <p><a class="btn btn-lg btn-primary" href="#/about" role="button">{{"home.banners.banner2.button" | translate}}</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" class="css-image img-banner-portada">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{"home.banners.banner3.title" | translate}}</h1>
              <p>{{"home.banners.banner3.content" | translate}}</p>
              <p><a class="btn btn-lg btn-primary" href="#/recordings" role="button">{{"home.banners.banner3.button" | translate}}</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
-->
    <div class="carousel-container">
        <ul rn-carousel class="image home-carousel">
          <li class="css-image img-banner-recordings carousel-image">
                <div class="carousel-text">
                    <h1>{{"home.banners.banner3.title" | translate}}</h1>
                    <p>{{"home.banners.banner3.content" | translate}}</p>
                    <p><a class="btn btn-lg btn-primary" href="#/recordings" role="button">{{"home.banners.banner3.button" | translate}}</a>
                </div>
          </li>
          <li class="css-image img-banner-construction carousel-image">
                <div class="carousel-text">
                    <h1>{{"home.banners.banner1.title" | translate}}</h1>
                    <p>{{"home.banners.banner1.content" | translate}}</p>
                </div>
          </li>
        </ul>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4 artist-container">
          <h2>{{"home.sections.artist.title" | translate}}</h2>
          <img class="img-home img-home-artist">
          <p>{{"home.sections.artist.text" | translate}}</p>
          <p><a class="btn btn-default" href="#/artist" role="button">{{"home.sections.artist.button" | translate}} »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>{{"home.sections.teacher.title" | translate}}</h2>
            <img class="img-home img-home-teacher">
          <p>{{"home.sections.teacher.subTitle" | translate}}</p>
          <!--<p>{{"home.sections.teacher.text" | translate}}</p>-->
          <p><a class="btn btn-default" href="#/teacher" role="button">{{"home.sections.teacher.button" | translate}} »</a></p>
          </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>{{"home.sections.producer.title" | translate}}</h2>
          <img  class="img-home  img-home-producer">
          <p>{{"home.sections.producer.text" | translate}}</p>
          <p><a class="btn btn-default" href="#/producer" role="button">{{"home.sections.producer.button" | translate}} »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
