
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:300" >
    <!-- Indicators -->
    <div class="carousel-inner">
      <div class="item active" style="height:300" >
        <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="img/banners/portada.small.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Recordings</h1>
            <p>Visit my <code>recordings</code> section to pay an ear to my latests.</p>
            <p><a class="btn btn-lg btn-primary" href="#/recordings" role="button">hear some music</a></p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->

  <div>
    <div class="detail-picture"><img src="img/partials/estudio.small.jpg" class="detail-picture"></div>

      <p>Die Musik und ihre beiden in sich verschlungen Kreise: Die Musik als künsterlischer Ausdruck und als fertiges und funktionales Produkt. Sich zwischen diesen beiden Welten ohne Komplexe zu bewegen, ist von Vorteil, wenn es darum geht, eine Idee zu realisieren und fertig zu stellen.
</p>
      <p> 
In SongLab befasse ich mich damit, deiner Idee eine Form zu geben, Musik für deine Texte zu schreiben, einen Sound für deine Internetseite oder Werbespot zu entwickeln oder deinen Kurzfilm zu vertonen. Du musst mit mir nur deine Wünsche und Bedürfnisse teilen und ich erarbeite das, was du benötigst.</p>
    </div>
  </div>