<div class="row" style="padding-top:50px;">
  <div class="">
    <div class="thumbnail">
      <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/133144575&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
      <div class="caption">
        <h3>So wonderfull</h3>
        <p>Here is my version of "so wonderful" by Paul Soprano</p>
      </div>
    </div>
    <div class="thumbnail">
      <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/133144575&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
      <div class="caption">
        <h3>Fly me to the moon</h3>
        <p>Here is my version of "Fly me to the moon" by Frank Sinatra</p>
      </div>
    </div>
  </div>
</div>


<div>
	
</div>