
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:300" >
    <!-- Indicators -->
    <div class="carousel-inner">
      <div class="item active" style="height:300" >
        <img style="height:300" data-src="holder.js/900x300/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="http://upload.wikimedia.org/wikipedia/commons/9/99/Berlin_Skyline_voll.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Der Lehrer.</h1>
            <p>Ziel ist es, nicht nur eine neue Sprache zu erlernen, sondern sich in dieser Sprache auszudrücken und unterhalten zu können und eigenen Ideen zu entwickeln. Lass dich von meiner Freude für die Musik anstecken!</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->

  <div class="container marketing">
      <div class="row">
        <div class="detail-picture"><img src="img/partials/teacher.small.jpg" class="detail-picture"></div>
          <h4>Staatlich geprüfter Leiter für Popularmusik (10 Jahre Erfahrung im Unterrichten von Kindern, Jugendlichen und Erwachsenen)</h4>

          <p>Lasst uns lernen in dieser Sprache zu reden und lasst uns dies tun, wie wir unsere Muttersprache erlernt haben. Niemand wurde geboren und konnte lesen und schreiben, wir alle haben mit Lauten und Gesten begonnen, die uns ausreichten, um uns verständlich zu machen. Als wir lernten die ersten Wörter zu Sätzen zu verbinden, hat niemand beabsichtigt, aus uns Radiosprecher oder Chefredakteure einer Zeitung zu machen. Wir hatten die Freiheit, Fehler zu machen und uns dabei zu amüsieren. Insofern man Spass an der Sprache hat, werden wir die Notwendigkeit verspüren, die Art und Weise kennenzulernen,wie man Ideen aufschreibt, um besseren Zugang zu mehr Information zu haben.</p>
          <p> Aber das ist nicht notwendigerweise eine Regel, denn es gibt Menschen die sich durch ihr Gedächtnis und ihr gutes Gehör hevorheben, was ihnen ermöglicht, auf Papier und Bildschirm zu verzichten und trotzdem ein optimales Ergebnis in der Ausübung und Kommunikation zu erreichen. Nun ja, meine 10-jährige Erfahrung im Unterrichten von Musik zeigte mir, dass es nicht eine alleinige Art gibt, Wissen zu vermitteln. Aber die Neugier ist der Antrieb, der uns mehr und besser lernen lässt. Und wenn noch Ehrgeiz hinzukommt, kann das Ergebnis wirklich exzellent sein.</p>
        </div>
      </div>
  </div>